{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}

    <p class="text-center">Bienvenue sur notre Plateforme ENI Sorties

        Nous sommes fiers de vous présenter notre plateforme ENI Sorties, fruit de l'engagement et du travail acharné de
        notre équipe composée de Viviane, Dorian, Gabriel et Marius, quatre étudiants talentueux de l'École Nationale
        d'Ingénieurs (ENI).

        Notre Équipe

        Viviane, Dorian, Gabriel et Marius ont combiné leurs compétences et leur passion pour développer une solution
        innovante répondant aux besoins de notre client, ENI. Notre équipe est animée par la volonté de fournir une
        expérience exceptionnelle à tous les utilisateurs de la plateforme ENI Sorties.

        Notre Plateforme

        La plateforme ENI Sorties est une réalisation aboutie, offrant à nos utilisateurs un environnement convivial et
        sécurisé pour organiser et participer à des sorties. Conçue sur mesure pour ENI, notre plateforme répond à
        toutes les exigences de l'entreprise en matière de fonctionnalités et de performances.

        Fonctionnalités Clés

        Grâce à notre plateforme, les utilisateurs peuvent créer facilement des événements, inviter d'autres
        participants et gérer les détails logistiques de leurs sorties, le tout en quelques clics. De plus, notre
        système d'organisation géographique permet une planification efficace en reliant chaque sortie à un site
        spécifique.

        Notre Engagement

        Nous sommes dévoués à fournir à ENI une solution de haute qualité qui dépasse ses attentes. Notre équipe reste
        disponible pour répondre à tous vos besoins et vous accompagner dans l'utilisation de la plateforme ENI Sorties.

        Nous vous remercions de votre confiance et sommes ravis de vous accueillir sur notre plateforme ENI Sorties.
        Explorez, profitez et organisez des sorties inoubliables en toute simplicité !</p>

{% endblock %}
