{% extends 'base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
    <h1 class="mb-2 text-4xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Create new Participant</h1>


    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        {{ include('participant/_form.html.twig') }}

        <a href="{{ path('app_participant_index') }}">back to list</a>

    </div>

{% endblock %}
