<form method="post" action="{{ path('app_user_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer cet utilisateur');">
    <button class="btn">Delete</button>
</form>