{% extends 'base.html.twig' %}

{% block title %}Hello UpdatePasswordFromProfileController!{% endblock %}

{% block body %}
<h1>Changer mon mot de passe :</h1>


    <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">

        <div class="mx-auto max-w-screen-xl px-4 lg:px-12">

            <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">

                <div class="overflow-x-auto">

                    {{ include('users_list/_form.html.twig', {'button_label': 'Modifier'}) }}

                    <a href="{{ path('app_profile_detail') }}">Retour au profil</a>


                </div>



            </div>



        </div>


    </section>


{% endblock %}
