{% extends 'base.html.twig' %}

{% block title %}New Ville{% endblock %}

{% block body %}
    <div class="flex container mx-auto grid grid-rows-2">

        <div class="mx-auto grid-span-1">
            <h1 class="max-w-sm mb-2 text-4xl text-center font-bold tracking-tight text-gray-900">Créer une ville</h1>
        </div>

        <div class="mx-auto grid-span-1 w-3/5 sm:w-1/2 p-6 bg-white border border-gray-200 rounded-lg shadow">
            <div class="mx-auto justify-center">
                {{ include('ville/_form.html.twig') }}
            </div>

            <div class="mx-auto p-5 justify-center">
                <a href="{{ path('app_ville_index') }}">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Retour
                    </button>
                </a>
            </div>
        </div>

    </div>
{% endblock %}
