{% for warning in app.flashes('warning') %}
    <div class="bg-red-500 border-gray-200 p-4">
        <p class="text-white">
            {{ warning }}
        </p>
    </div>

{% endfor %}

{% for success in app.flashes('success') %}
    <div class="bg-green-500 border-gray-200 p-4">
        <p class="text-white">
            {{ success }}
        </p>
    </div>
{% endfor %}
